body, p, table, tr, td  {color: #555555; font-family: "Arial", "Verdana", sans-serif; font-size: 12pt; }

a:link, a:active, a:visited  {text-decoration:none; color: #0089b7;}
a:hover {text-decoration:underline; color: #0089b7;}

a.menu:link, a.menu:active, a.menu:visited  {text-decoration:none; color: #861D2C;}
a.menu:hover {text-decoration:underline; color: #861D2C;}

