html {
	margin: 0; padding: 0;
	background: #697f80;
	min-height: 101%;
}

body { margin: 0; padding: 0; }

div#wrapper {
	width: 720px;
	margin: 0 auto;
	padding: 20px;
	min-height: 101%;
	font-family: Verdana, Ariel;
	font-size: 85%;
	background: #fff;
}

/* ---------- top header -------------- */

h1 { 
	padding: 0;
	margin: 0;
	color: #003333;
	font-weight: normal;
}

/* ---------- sub header -------------- */

h3 { 
	padding: 0;
	margin: 0;
	color: #336666;
	font-weight: normal;
}

/* ---------- nav bar ---------------- */

div#nav {
	background: #486f6e;
	margin: 5px 0 5px 0;
	padding: 0;
}

div#nav ul {
	padding: 5px 5px 5px 10px;
	margin: 0;
}

div#nav ul li {
	display: inline;
	list-style: none;
	padding: 5px 25px 5px 0;
	margin: 0;
	color: #eee;
}

div#nav ul li a { color: #663300; }

/* ---------- section header -------------- */

h2 { 
	padding: 0;
	margin: 20px 0 5px 0;
	color: #336666;
	font-weight: normal;
}

/* ------------- links ------------- */

a {
	text-decoration: none;
	color: #663300;
}

a.emph { font-weight: bold; }

a:hover { text-decoration: underline; }


/* ---------------- lists ----------- */

ul { margin: 0; padding: 0; }

li { margin: 0 0 0 20px; padding: 0;}

ul.right li { margin: 0 0 0 210px; }


/* -------------- images ----------- */

img { padding: 0; }

img.sidebar {
	width: 175px;
	float: left;
	margin: 0 10px 5px 0;
}

img.mini {
	float: left;
	width: 200px;
	margin: 0 10px 7px 0;
}

img.main {
	float: left;
	width: 510px;
	margin: 0 10px 10px 0;
}

img.tile { 
	width: 357px; 
	margin: 0;
	display: inline;
}

img.banner { 
	width: 720px; 
	margin: 0;
}

/* ------------- layout tables ------------- */

table {font-size: 95%; }
table td {padding: 20px; }

/* -------------- footer -------------- */

div#footer {
	font-size: 90%;
	margin: 10px 0 0 0 ;
	padding: 5px 0px;
	clear: both;
	border-top: 2px solid #aaa;
}